
<body>
    <br><br><br><br><br><br><br><br>
    <div class="form1" id="appVue">
        <label for="name">Nombre<br></label>
        <div class="text-input"><br>{{persona.nombre}}</div>
        <label for="surname">Apellido<br></label>
        <div class="text-input"><br>{{persona.apellido}}</div>
        <label for="date">Fecha de Nacimiento</label>
        <div class="text-input"><br>{{persona.fechaDeNacimiento}}</div>
        <label for="email">Email<br></label>
        <div class="text-input"><br>{{persona.email}}</div>
        <label for="doc-type">Tipo de documento<br></label>
        <div class="text-input"><br>{{persona.tipoDocumento}}</div>
        <label for="n-doc">Número de documento<br></label>
        <div class="text-input"><br>{{persona.numeroDocumento}}</div>
        <label for="cel">Teléfono / Celular<br></label>
        <div class="text-input"><br>{{persona.telefono}}</div>
        <label for="notification">Formas de notificación<br></label><br>
        <ul v-for="formaDeNotificacion in formasDeNotificacion">
            <a><input class="check" type="checkbox" checked> {{formaDeNotificacion.tipoDeNotificacion}}</a>
        </ul>
        <h3 class="subtitulo3">Contactos</h3>
        <div></div>
        <div></div>
        <fieldset v-for="contacto in contactos">
                <label for="contactName">Nombre<br></label>
                <div class="text-input" disabled><br>{{contacto.nombreContacto}}</div>
                <label for="contactSurname">Apellido<br></label>
                <div class="text-input" disabled><br>{{contacto.apellidoContacto}}</div>
                <label for="contactEmail">Email<br></label>
                <div class="text-input" disabled><br>{{contacto.emailContacto}}</div>
                <label for="contactTel">Teléfono / Celular<br></label>
                <div class="text-input" disabled><br>{{contacto.telefonoContacto}}</div>
        </fieldset>
    </div>
</div>
<script src="/js/perfil.js"></script>