<div class="container">
    
    <h1 class="subtitulo">ESTOY EN ADOPCIÓN</h1>
    <div class=formita>
        <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687250/img/pantuflas_wopgw1.png" >
        <div>
            <label>Nombre Mascota:<br></label>
            <p class="datos">{{mascota.nombreMascota}}</p>
            <label>Apodo Mascota:<br></label>
            <p class="datos">{{mascota.apodoMascota}}</p>
            <label>Edad Mascota:<br></label>
            <p class="datos">{{mascota.edadMascota}}</p>
            <label>Tipo Animal:<br></label>
            <p class="datos">{{mascota.tipoAnimal}}</p>
            <label>Sexo Mascota:<br></label>
            <p class="datos">{{mascota.sexoMascota}}</p>
            <label>Descripción Mascota:<br></label>
            <p class="datos">{{mascota.descripcionMascota}}</p>
            <a href="/mascotas-en-adopcion/notificar-duenio/{{mascota.id}}"><br><button class="boton">ADOPTAR</button></a>
        </div>
    </div>
</div>