<div class="container">

    <h1 class="subtitulo">ESTOY PERDIDO</h1>
    <div class=formita>
        <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687250/img/pantuflas_wopgw1.png">
        <div>
            <label>Tipo Animal:<br></label>
            <label class="datos">{{mascota.tipoAnimal}}<br></label>
            <label>Tamanio:<br></label>
            <label class="datos">{{mascota.tamanio}}<br></label>
            <label>Descripción:<br></label>
            <label class="datos">{{mascota.descripcion}}<br></label>
            <!--<label>Lugar de Tránsito:<br></label>
            <label class="datos">{{mascota.lugarDeTransito}}<br></label>-->
            <label>Ubicación Encontrado:<br></label>
            <label class="datos">{{mascota.ubicacionEncontrada}}<br></label>
            <a href="/mascotas-perdidas/notificar-rescatista/{{mascota.id}}"><br><button class="boton">TE ENCONTRÉ</button></a>
        </div>
    </div>
</div>