<div class="container">
    <h1 class="subtitulo">Mascotas Registradas</h1>
    <div class="form1" id="vuePet">
        <article v-for="mascota in mascotas">
            <label for="name">Nombre Mascota<br></label>
            <p>{{mascota.mascota.apodoMascota}}<br></p>
            <a><input> {{mascota.apodoMascota}}</a>
            <label for="surname">Apodo Mascota<br></label>
            <p>{{apodoMascota}}<br></p>
            <label for="date">Edad Mascota</label>
            <p class="text-input"><br>{{mascota.edadMascota}}<br></p>
            <label for="email">Sexo<br></label>
            <p class="text-input"><br>{{mascota.sexoMascota}}<br></p>
            <label for="doc-type">Tipo de Animal<br></label>
            <p class="text-input"><br>{{mascota.tipoAnimal}}<br></p>
            <br><br><br><br>
        </article>
    </div>
</div>
<script src="/js/mascotas-registradas.js"></script>
